<div class="container">
  <div ng-hide ='gameLogged'>
  <h2>Login to an Existing Game</h2>
  <hr>

  <game-login-details></game-login-details>


  <br>
  <br>

  <p> Note: In order to create a game, you will need to make an account.
  <br>Only the game creator can delete the game or change passwords from their account. </p>


  </div>
</div>

</div>
</div>
<!--Update Game-->


<div class='container' ng-hide='notEditing' ng-show='editing'>
  <h3> {{editGameData.name}}</h3>
  <hr>

  <br>

</div>

<div class= 'container' ng-show='editing' >
<h4>Edit Your Clues</h4>
<hr>

<show-clues-details></show-clues-details>

</div>
</div>
<br>

  <button ng-show='editing' type="submit" class="btn btn-primary marginal"ng-click='editClue = true; newClue=true'>Add New Clue</button>

  <br><br>

</div>
                  <!--edit clues area-->

<div class='container'>

  <h3 ng-show='updateClue'> Edit Your Clue</h3>
  <h3 ng-show='newClue'> Add a Clue</h3>

  <br>

<!--edit one clue-->

<edit-clue-details></edit-clue-details>

  <p ng-show='showWarning'> If this isn't the correct location, be more specific in your search (add city, zipcode, etc). <br>You can also change the name of the location once the latitude and longitude are found, <br>just don't click "Verify Location" again!</p>

  <h3 ng-hide='editClue'> Where will adventure take you?</h3>

  <div id="map"></div>

  <div class="form-group" ng-show='editClue'>
      <label for="resLat">Latitude</label>
      <input name="resLat" class="form-control" ng-model="formInput.latitude" required />

  </div>
  <div class="form-group" ng-show='editClue'>
      <label for="resLng">Longitude</label>
      <input name="resLng" class="form-control" ng-model="formInput.longitude" required />
      </div>
  </div>
</div>
<div>
<span ng-show='newClue' ng-disabled="addClueForm.$invalid" ng-click='addNewClue(editGameData._id)'  class="btn btn-primary marginal">Add Clue</span>


<button ng-show='updateClue' ng-disabled="addClueForm.$invalid" ng-click='updateOne(id, editGameData._id); editClue = false' class="btn btn-primary marginal">Update Clue</button>

<button ng-show='editClue' ng-click='cancelAll()' class="btn btn-warning marginal">Cancel</button>
</div>
<br><br>

</div>




