<div class="container">
  <div ng-hide ='gameLogged'>
  <h2>Login to an Existing Game</h2>
  <hr>

  <form name='editGameLogin'>
  <div class='form'>
    <div class='form-group'>
      <label>Game Name<br>(Game names are case sensitive)</label>
      <input type="text" class="form-control small-input" placeholder="My Scavenger Hunt" ng-model="editGameInput.name" required>
    </div>

    <div class='form-group'>
      <label>Editing Password</label>
      <input type="password" class="form-control small-input" placeholder="password" ng-model="editGameInput.password" required>
    </div>

    <div ng-show = 'showLoginError'>
    {{loginError}}
    </div>

    <br>
  </form>
    <span class='btn btn-primary' ng-disabled="editGameLogin.$invalid" ng-click="loginGame()">Login</span>

  <br>
  <br>

  <p> Note: In order to create a game, you will need to make an account.
  <br>Only the game creator can delete the game or change passwords from their account. </p>


  </div>
</div>

</div>
</div>
<!--Update Game-->

<div class='container' ng-hide='notEditing' ng-show='editing'>
  <h3> Edit Your Game</h3>
  <hr>

  <br>
    <form name= 'editGameForm'>
      <div class="form-group">
        <label>Game Name</label>
        <input ng-model='editGameData.name' type="text" class="form-control small-input" placeholder="My Treasure Hunt!" required>
      </div>

      <div class="form-group">
        <label>Password for Players</label>
        <input ng-model='editGameData.playPassword' type="text" class="form-control small-input" placeholder="Use this password to play" required>
      </div>

      <div class="form-group">
        <label for="clueName">Password for Editing</label>
        <input ng-model='editGameData.editPassword' type="text" class="form-control small-input" placeholder="Use this password to make changes" required>
      </div>


      <div ng-show = 'showMessage'>
      <h5>{{updateMessage}}</h5>
      </div>

      <br>

    </form>

  <button ng-show='editing' ng-hide='notEditing' ng-disabled="editGameForm.$invalid" ng-click='updateOneGameNoUser(editGameData._id)' type="submit" class="btn btn-primary marginal">Update Game Details</button>

</div>

<div class= 'container' ng-show='editing' >
<h3>Edit Your Clues</h3>
<hr>
  <table class='table table-bordered'>
    <thead>
      <th> Order</th>
      <th> Name</th>
      <th> Location</th>
      <th> Hints</th>
      <th> Answer</th>
      <th> Options</th>
    </thead>
    <tbody>
      <tr ng-repeat = 'clue in editGameClues | orderBy:"order"'>
      <td> {{clue.order}} </td>
      <td> {{clue.name}} </td>
      <td> {{clue.location}} </td>
      <td> {{clue.hints | arrayFilter}} </td>
      <td> {{clue.answer | arrayFilter}} </td>

      <td>
        <div class= 'edit-buttons'>
          <button class ='btn btn-success btn-edit' ng-click= "getOne(clue._id); "><span class="glyphicon glyphicon-pencil"></span></button>

          <button class ='btn-edit btn btn-danger' ng-click = 'deleteOne(clue._id, editGameData._id)'><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<br>

  <button ng-show='editing' type="submit" class="btn btn-primary marginal"ng-click='editClue = true; newClue=true'>Add New Clue</button>

  <br><br>

</div>
                  <!--edit clues area-->

<div class='container'>

  <h3 ng-show='updateClue'> Edit Your Clue</h3>
  <h3 ng-show='newClue'> Add a Clue</h3>

  <br>

<!--edit one clue-->

  <form name= 'addClueForm' ng-show='editClue'>
    <div class="form-group">
      <label for="order">Order Number</label>
      <input ng-model='formInput.order' type="number" class="form-control" placeholder="1" min = '1' required>
    </div>

    <div class="form-group">
      <label for="clueName">Clue Title</label>
      <input ng-model='formInput.name' type="text" class="form-control" placeholder="Furry Friend" required>
    </div>

    <div class="form-group">
      <label for="hint">Hints (separated by commas)</label>
      <input ng-model='formInput.hints' type="text" class="form-control" placeholder="It's furry, it barks, it should be on a leash" required>
    </div>

    <div class="form-group">
      <label for="answer">Answer (give similar acceptable answers, separated by commas)</label>
      <input ng-model='formInput.answer' type="text" class="form-control" placeholder="Dog, a dog, puppy, a puppy, puppies" required>
    </div>

  </form>

</div>

<!--Update Form-->
<br>
<div class="container">

  <form name="searchForm" novalidate
  ng-submit="search()" ng-show='editClue'>
      <div class="input-group">
          <input name="place" type="text" class="form-control" placeholder="Washington Park"
          ng-model="formInput.location" required autofocus />
          <span class="input-group-btn">
              <button class="btn btn-success">Verify Location</button>
          </span>
      </div>
  </form>

  <p ng-show='showWarning'> If this isn't the correct location, be more specific in your search (add city, zipcode, etc). <br>You can also change the name of the location once the latitude and longitude are found, <br>just don't click "Verify Location" again!</p>

  <h3 ng-hide='editClue'> Where will adventure take you?</h3>

  <div id="map"></div>

  <div class="form-group" ng-show='editClue'>
      <label for="resLat">Latitude</label>
      <input name="resLat" class="form-control" ng-model="formInput.latitude" required />

  </div>
  <div class="form-group" ng-show='editClue'>
      <label for="resLng">Longitude</label>
      <input name="resLng" class="form-control" ng-model="formInput.longitude" required />
      </div>
  </div>
</div>
<div>
<span ng-show='newClue' ng-disabled="addClueForm.$invalid" ng-click='addNewClue(editGameData._id)'  class="btn btn-primary marginal">Add Clue</span>


<button ng-show='updateClue' ng-disabled="addClueForm.$invalid" ng-click='updateOne(id, editGameData._id); editClue = false' class="btn btn-primary marginal">Update Clue</button>

<button ng-show='editClue' ng-click='editClue=false; showWarning = false; notEditing=false' class="btn btn-warning marginal">Cancel</button>
</div>
<br><br>

</div>




