<h3 ng-show='gamePicked'class='header-text' >Currently editing: {{gameName}}</h3>


<div class = 'home-top'>
  <div class ='home-image'>
  <br>
  <br>
  <h1>Not your mother's scavenger hunt...</h1>
  <h3>Less scavenging, more discovering.</h3>
  </div>

  <!-- <div class = 'zigzag-edges'></div> -->
</div>
<br>
<div class= 'home-mid container'>
<hr>
  <h2>So what's this all about?</h2>
  <h4 class='lighter'>Remember doing scavenger hunts as a child?<br>
      Well it's a new world, and now we've made it easier, faster, and more fun!<br>
      Set up a search, leave clues, and send your friends on a journey!
  </h4>
<hr>

<a href= '/#/loginPage'><button class='btn btn-primary'>Get Started!</button></a>
  <br><br>
</div>


<button ng-click='showGames()' class='btn btn-primary'>Get Games!</button>

<button ng-click='showOneGame("game._id")' class='btn btn-primary'>Get One Game!</button>
