<div class="container">

<div ng-hide='registering'>
  <h2>User Login</h2>
  <form name='loginForm'>
  <div class='form'>
    <div class='form-group'>
      <label for="email-input-register">Email address</label>
      <input type="email" class="form-control" placeholder="user@gmail.com" ng-model="login.username" required>
    </div>

    <div class='form-group'>
      <label for="password-input-login">Password</label>
      <input type="password" class="form-control" placeholder="password" ng-model="login.password" required>
    </div>

    <button class='btn btn-primary' ng-click="login(); adminUser = true" ng-disabled="loginForm.$invalid">Login</button>
  </form>
</div>

 <div>{{errorMessage}}</div>
<br>
<br>
  <button ng-click='registering=true' class='btn btn-warning' >Register a New User?</button>
</div>

<div ng-show='registering'>
  <h2>Register New User</h2>
    <form name='registerForm'>
      <div class='form'>
        <div class='form-group'>
          <label for="email-input-register">Email address</label>
          <input type="email" class="form-control" placeholder="register@gmail.com" ng-model="register.username" required>
        </div>
        <div class='form-group'>
          <label for="password-input-register">Password</label>
          <input type="password" class="form-control"placeholder="Password" ng-model="register.password" required>
        </div>
        <button ng-disabled="registerForm.$invalid" class='btn btn-primary' ng-click="register()">Register</button>
      </div>
    </form>


</div>

<br>
<br>
<button class='btn btn-danger' ng-click='logout()'>Logout</button>

</div>
