
<div class="container">

  <div ng-hide='registering'><!--START HIDE on register-->
    <h2>User Login</h2>
    <hr>

      <login-details></login-details>

    <br>

     <button ng-click='registering=true; errorMessage = ""' class='btn btn-warning' >Register a New User?</button>
    <br>
    <br>

  </div><!--END HIDE on register-->


  <div ng-show='registering'><!--START SHOW on register-->
    <h2>Register a New User</h2>
    <hr>

    <register-details></register-details>

    <button class='btn btn-warning' ng-click='registering=false; errorMessage = ""'>Already have an account?</button>
    <br>
    <br>
  </div><!--END SHOW on register-->
  <h3> Why Should I Make an Account?</h3>
  <h4>With an account, you can create games!  <br>
  You can also edit and see all the games you've created.</h4>
  <div ng-show='error'><h4>{{errorMessage}}</h4></div>
  <br>
  </div>

  <br>
  <br>

</div><!--end container-->
