<div ng-hide='results' class= 'container'>
  <div class ='row-fluid'>

    <h1 ng-show='startSearch' >Clue #{{currentClue.order}}</h1>

    <hr ng-show= 'startSearch' class="soften"/>

    <h2 ng-show='startSearch' >{{currentClue.name}}</h2>

    <div class ='col-sm-5'>
      <div ng-hide= 'startSearch'>

        <h2>Are you ready?</h2>
        <h4>Remember, it's a competition, so use your best sleuth skills!</h4>

        <button class= 'btn btn-success' ng-click = 'index = 1; startSearch = true; progressClue(0);'>Begin!</button>
      </div>

      <h3 class='locale' ng-show='startSearch' >Location:

      <br>
       {{currentClue.location}}</h3>
      <br>

      <ul ng-show='startSearch'><span class='bigger'>Hint:</span>
        <li class ='biggish'>{{currentClue.hints[0]}}
        <li class ='biggish'ng-repeat='hint in allHints'>{{hint}}</li>
      </ul>

      <button ng-disabled="noHints" ng-show='startSearch' class = 'btn btn-warning locale' ng-click ='index = index + 1; useHint(currentClue.hints, index)'>Need another Hint?</button>
      <br>
      <br>
      <button ng-click='quit=true' class= 'btn btn-danger locale' ng-show = 'hint'>Give Up?</button>
      <div ng-show='startSearch' class= 'locale'>
        <br>
        <br>
        <input  ng-hide='quit' ng-model='userAnswer' placeholder='Submit Answer'>
        <br>
        <br>
        <button  ng-hide='quit' class= 'btn btn-success' ng-click='guessAnswer(currentClue.answer)'>Submit Answer</button>
      </div>
    </div>

    <div class='col-sm-5'>
      <br>
      <br>
      <map center="{{lat}}, {{long}}" zoom="{{zoom}}" style="display:block; width: 100%; height:100%">
        <marker position = '[{{lat}}, {{long}}]'/>
      </map>

    </div>
  </div>

  <div ng-show='startSearch'  class = 'bottom-clue'>

    <h3 ng-show = 'quit'>You were looking for {{currentClue.answer[0]}}</h3>

  </div>
</div>

<div ng-show='results'>

  <h3>These are your results!</h3>
  <h4> Hints Used: {{hintsUsed}}</h4>

</div>

<div ng-show='userGuessed'>
  <h3> {{userResults}} </h3>
</div>

<br>
<button class= 'btn btn-primary' ng-show = 'quit' ng-click='progressClue(currentClue.order); quit = false; hint=false; index = 1'>Next Question</button>

<!--uploader-->

<div ng-show='startSearch' class="container bottom" flow-init="{target: '/upload'}"
     flow-files-submitted="$flow.upload()"
     flow-file-success="$file.msg = $message">
  <h3>Upload a Picture</h3>
  <hr class="soften"/>

  <div class ='left-align'>
    <div class="thumbnail" ng-hide="$flow.files.length">
      <img src="/img/placeholder.png" />
    </div>
      <div class="drop" flow-drop ng-class="dropClass">
    <div class="thumbnail" ng-show="$flow.files.length">
      <img flow-img="$flow.files[0]" />
    </div>
    <div>

      <span ng-hide='hasPic' class="btn btn-primary" flow-btn ng-click='hasPic = true'>Upload Image</span>
    </div>
      <span class="btn btn-warning" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</span>
      <span class="btn btn-danger" ng-show="$flow.files.length"
         ng-click="$flow.cancel(); hasPic = false">
        Remove
      </span>
    </div>

  </div>
</div>

