<form name= 'addGameForm'>
    <div class="form-group">
      <label for="order">Game Name</label>
      <input ng-model='gameInput.name' type="text" class="form-control small-input" placeholder="My Treasure Hunt!" required>
    </div>

    <div class="form-group">
      <label for="clueName">Password for Players</label>
      <input ng-model='gameInput.playPassword' type="text" class="form-control small-input" placeholder="Use this password to play" required>
    </div>


<h5>{{gameError}}</h5>

<br>

  <button ng-click='addNewGame("5617ef66267102313f4da6b2")' ng-disabled="addGameForm.$invalid" type="submit" class="btn btn-primary marginal">Create New Game</button>
  <br>
</form>
