<div ng-show='startSearch'>

<h1>Clue #{{currentClue.order}}</h1>

<h2>{{currentClue.name}}</h2>

<h3>{{currentClue.location}}</h3>


<button class = 'btn btn-warning' ng-click ='hint=true'>Need a Hint?</button>

<h3 ng-show ='hint'>{{currentClue.hints[0]}}</h3>


<button ng-click='quit=true' class= 'btn btn-danger' ng-show = 'hint'>Give Up?</button>

<h3 ng-show = 'quit'>{{currentClue.answer}}</h3>


<button ng-show = 'quit' ng-click='progressClue(currentClue.order)'>Question {{+currentClue.order + 1}}</button>


</div>
