
  <form name= 'addClueForm'>
    <div class="form-group">
      <label for="order">Order Number</label>
      <input ng-model='formInput.order' type="number" class="form-control" placeholder="1" min = '1' required>
    </div>

    <div class="form-group">
      <label for="clueName">Clue Title</label>
      <input ng-model='formInput.name' type="text" class="form-control" placeholder="Mystery Creature" required>
    </div>


    <div class="form-group">
      <label for="hint">Hints (separated by commas)</label>
      <input ng-model='formInput.hints' type="text" class="form-control" placeholder="It barks" required>
    </div>

    <div class="form-group">
      <label for="answer">Answer (give similar acceptable answers, separated by commas)</label>
      <input ng-model='formInput.answer' type="text" class="form-control" placeholder="Dog, a dog, pooch, a pooch, a poochie" required>
    </div>

</form>

</div>

<br>
<div class="container">

    <form name="searchForm" novalidate
    ng-submit="search()">
        <div class="input-group">
            <input name="place" type="text" class="form-control" placeholder="Washington Park"
            ng-model="formInput.location" required autofocus />
            <span class="input-group-btn">
                <button class="btn btn-success">Verify Location</button>
            </span>
        </div>
    </form>

  <p ng-show='showWarning'> If this isn't the correct location, be more specific in your search (add city, zipcode, etc). </p>
    <div id="map"></div>

    <div class="form-group">
        <label for="resLat">Latitude</label>
        <input name="resLat" class="form-control" ng-model="formInput.latitude" required />

    </div>
    <div class="form-group">
        <label for="resLng">Longitude</label>
        <input name="resLng" class="form-control" ng-model="formInput.longitude" required />
        </div>
    </div>
</div>

 <a ng-href='/#/gamedash'><button ng-disabled="addClueForm.$invalid" ng-click='addNewClue("56181b16d08168f25297ddd8")' type="submit" class="btn btn-primary marginal">Create Clue</button></a>

</form>

