
  <h3> Edit Your Game</h3>
  <br>
    <form name= 'editGameForm'>
    <div class="form-group">
      <label>Game Name</label>
      <input ng-model='editGameInput.name' type="text" class="form-control small-input" placeholder="My Treasure Hunt!" required>
    </div>

    <div class="form-group">
      <label>Password for Players</label>
      <input ng-model='editGameInput.playPassword' type="text" class="form-control small-input" placeholder="Use this password to play" required>
    </div>

<h5>{{gameError}}</h5>

<br>

</form>


