 <h3>Congratulations, you finished!</h3>
  <hr>
  <h4> You used {{hintsUsed}} hints.</h4>
  <h5>Compare with your friends and see how they fared on your adventure.</h5>
  <br>
  <br>

  <div class = 'picture-box'>
  <img class='selfie' src = '/img/groupselfie.jpg'>
  </div>
 <!--  <h4> You gave up <span ng-model = 'counts'> {{giveUps}}</span><ng-pluralize count = 'counts' when = "{'0': '  times!  Good job!',
      '1': ' time.  Not bad!',
      'other': ' times.'}"></ng-pluralize></h4> -->
  <br>
  <a href= '/#/start'><button class='btn btn-primary' ng-click='results=false; begin=false'>Play Another Game</button></a> &nbsp&nbsp

  <a href= '/#/gamedash'><button class='btn btn-warning'>Edit a Game</button></a>

  &nbsp&nbsp

  <a href= '/#/loginpage'><button class='btn btn-success'>Make a Game</button></a>
  <br><br>
