body {
  text-align: center;
  background-color: #105b63;
  color: white;
  font-family: 'Raleway', sans-serif;
}

input{
  color: black;
}

.navbar{
  background-color: whitesmoke;
}

.centered{
  display: table;
  margin: auto;
}

.btn-primary{
  background-color: #7a4d8b;
  border: #7a4d8b;
}

.btn-primary:hover,
.btn-primary:disabled,
.btn-primary:active,
.btn-primary:disabled:hover{
  background-color: #613d6f;
}


.left-clue{
  float: left;
}

.right-clue{
  float: left;
}

.bottom-clue{
  clear: both;
}

.small-input{
  width: 50%;
  display: table;
  margin: auto;
}

.home-top{
  width: 1000px;
  margin: auto;
  display: table;
}

.home-image{
  background-image: url('/img/cap.jpg');
  height: 500px;
  background-size: cover;
  color: black;
  margin-top: -18px;
  border-bottom: thin whitesmoke solid;
}

.bigger{
  font-size: 22px
}

.biggish{
  font-size: 18px;
}

.lighter{
  font-weight: lighter;
}

ul{
  list-style: none;
}

.locale{
  margin-left: 40px;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
}
.thumbnail img {
    max-width: 200px;
    max-height: 150px;
}

.left-align{
  text-align: left
}


.drop{
  width: 100%
}

/*zig-zag border*/


.zigzag-edges {
    position: relative;
    background: #105b63;
}

.zigzag-edges:after {
    content: ' ';
    display: block;
    height: 14px;
    position: absolute;
    left: 0;
    right: 0;

}

.zigzag-edges:after{
    bottom: -14px;

    background:
linear-gradient(135deg, #105b63 25%, transparent 25%),
linear-gradient(225deg, #105b63 25%, transparent 25%),
linear-gradient(315deg, #105b63 25%, transparent 25%) -7px 0,
linear-gradient(45deg, #105b63 25%, transparent 25%) -7px 0;
    background-size: 14px 14px;
    background-color: #DCDCDB;

}



/*Map stuff*/

#map {
    height: 200px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid silver;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Media Queries */
@media screen and (max-width: 900px) {
  .home-top{
  width: 100%;

  }
}

.home-image{
  height: 500px;
  overflow: hidden;
}

@media screen and (max-width: 630px) {
  .home-top{
    width: 100%;

  }

  .home-image{
    height: 500px;
    background-size: cover;
  }

}

